<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a1f84c8-1b7d-4fb0-9669-fd24735e9c35" Alias="1200Px 1992 Jeep YJ" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Px1992JeepYJ</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T08:57:00</CreateDate>
    <NodeName Default="1200Px 1992 Jeep YJ" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z0cb4ot3/1200px-1992_jeep_yj.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>