<?xml version="1.0" encoding="utf-8"?>
<Media Key="9903c42f-cc54-41ff-8159-475efe15f955" Alias="Pexels Pixabay 531880" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsPixabay531880</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T08:12:37</CreateDate>
    <NodeName Default="Pexels Pixabay 531880" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fhcahgku/pexels-pixabay-531880.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>