<?xml version="1.0" encoding="utf-8"?>
<Media Key="78df1f6a-18e1-472b-8e9a-5299ac8256f3" Alias="Salman" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Salman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T13:43:04</CreateDate>
    <NodeName Default="Salman" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nqpn44hb/salman.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>