<?xml version="1.0" encoding="utf-8"?>
<Media Key="98a70332-ad75-4eed-87e6-f00f46db115c" Alias="Screenshot (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T13:34:50</CreateDate>
    <NodeName Default="Screenshot (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gqblpgdv/screenshot-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>