<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9cfd7faa-857e-4d6f-9e43-5caad873446f" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2b0ff2a6-dee2-4270-aa1e-84f51e4d35f0">contentProperties</Composition>
      <Composition Key="b89e45a1-72f9-4b1e-9152-e81809090b4b">headerProperties</Composition>
      <Composition Key="f893c8d5-3bc7-498b-a191-3d2197baa76c">visibleNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f6c6292-7d60-44d8-bcdb-a4c43042c358">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>