<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3cbc8cc-4fc2-4cb8-becb-5e7e24e33476" Alias="gallery" Level="2">
  <Info>
    <Name>Gallery</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b89e45a1-72f9-4b1e-9152-e81809090b4b">headerProperties</Composition>
      <Composition Key="f893c8d5-3bc7-498b-a191-3d2197baa76c">visibleNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>Gallery</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="414abd91-b4e9-4fa5-993d-b4f14317a587">Gallery</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>