<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e015d571-7757-42bc-8d1e-48dab2a878dc" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b89e45a1-72f9-4b1e-9152-e81809090b4b">headerProperties</Composition>
      <Composition Key="77fcfb45-5d1f-4195-8ada-21e8350edaf9">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="318bf1c0-bd15-47b0-b578-222e43b5d5c4">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9cfd7faa-857e-4d6f-9e43-5caad873446f" SortOrder="0">contentPage</ContentType>
    <ContentType Key="c3cbc8cc-4fc2-4cb8-becb-5e7e24e33476" SortOrder="1">gallery</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>