<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f61b837-f3ee-4c6d-8f9c-ec31325a4633" Alias="Navigation Item - Child Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Navigation Item - Child Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>