<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f004ad1-8c7b-4eb0-9a97-50cbce309938" Alias="Site Navigation Properties - Multi URL Picker" Level="1">
  <Info>
    <Name>Site Navigation Properties - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>