<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a8d1648-3b64-4821-85ec-056e0b97fed0" Alias="About Us" Level="2">
  <Info>
    <Parent Key="6a4ed02b-209e-4f97-b404-f2d313495c2e">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-10T09:01:02</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f6c6292-7d60-44d8-bcdb-a4c43042c358">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available</p>]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c29d1c8d-8cae-4c78-a798-6b76a84cabc2",
    "mediaKey": "3a1f84c8-1b7d-4fb0-9669-fd24735e9c35"
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[This is Sub Title of  About Us]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[About Us]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>