<?xml version="1.0" encoding="utf-8"?>
<Content Key="48b01e4a-f186-4309-8842-94456b79a5e0" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="6a4ed02b-209e-4f97-b404-f2d313495c2e">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-10T11:52:12</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f6c6292-7d60-44d8-bcdb-a4c43042c358">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<ol>
<li>+923412145194</li>
<li>+96877130253</li>
<li>theideassolution@gmail.com</li>
</ol>]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "48814b9f-e412-4f4e-bb21-3569e7bd6023",
    "mediaKey": "3a1f84c8-1b7d-4fb0-9669-fd24735e9c35"
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[Contact Sub Title]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Contact Us]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>