<?xml version="1.0" encoding="utf-8"?>
<Content Key="a589fa2c-2eeb-4bc3-bd4e-0d03df8c6732" Alias="Gallery" Level="2">
  <Info>
    <Parent Key="6a4ed02b-209e-4f97-b404-f2d313495c2e">Home</Parent>
    <Path>/Home/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>gallery</ContentType>
    <CreateDate>2023-05-10T12:12:52</CreateDate>
    <NodeName Default="Gallery" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="414abd91-b4e9-4fa5-993d-b4f14317a587">Gallery</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "2d0b93a3-c13d-400b-9fb5-21f95072e274",
    "mediaKey": "3a1f84c8-1b7d-4fb0-9669-fd24735e9c35"
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[Gallery will be render here.]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Gallery]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>