<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a4ed02b-209e-4f97-b404-f2d313495c2e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-09T09:35:06</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="318bf1c0-bd15-47b0-b578-222e43b5d5c4">HomePage</Template>
  </Info>
  <Properties>
    <footerLinks>
      <Value><![CDATA[[
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/@codewithsalman"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://pk.linkedin.com/in/salman-masood-896a4a116"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/Salmanmasood"
  }
]]]></Value>
    </footerLinks>
    <link>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/6a4ed02b209e4f97b404f2d313495c2e"
  },
  {
    "name": "About Us",
    "udi": "umb://document/0a8d16483b64482185ec056e0b97fed0"
  },
  {
    "name": "Contact Us",
    "udi": "umb://document/48b01e4af1864309884294456b79a5e0"
  },
  {
    "name": "Gallery",
    "udi": "umb://document/a589fa2c2eeb4bc3bd4e0d03df8c6732"
  }
]]]></Value>
    </link>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d670751b-653c-482f-9af4-b8ca9300bf92",
    "mediaKey": "9903c42f-cc54-41ff-8159-475efe15f955"
  }
]]]></Value>
    </mainImage>
    <subTitle>
      <Value><![CDATA[This is Sub Title of Blog by Salman Masood]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Welcome to Umbraco - Salman Masood]]></Value>
    </title>
  </Properties>
</Content>